cloud_id                  = "b1g0637n5f6reke9rec5"
folder_id                 = "b1go45btkgmpug49cjd9"
zone                      = "ru-central1-a"
image_id                  = "fd84lo60iirg8fbhm9vk"
public_key_path           = "../../../.ssh/hw_ssh.pub"
subnet_id                 = "e9b4cj1kuj09okv9qsfu"
service_account_key_file  = "../../../service-accs/terraform-acc-key.json"
private_ssh_path          = "../../../.ssh/hw_ssh"
app_disk_image            = "fd8en2msfksvap430t5v"
db_disk_image             = "fd8ejk3a3cga3vapufkb"
